*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

#header{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

#header .profilepic{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

#header .profilepic h1{
  font-size:40px;
  font-weight:300;
  color:#1a1a1a;
}

#header .profilepic img{
  width:10vh;
  height:10vh;
  clip-path:circle(50%);
  margin:20px;
}

#header #contact .name h1{
  font-size:27px;
  font-weight:300;
  color:#1a1a1a;
}

#header #contact{
  margin:20px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap:wrap;
}

#main .container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:5px;
  margin:20px;
}

#main .container .aboutme{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  width:45vw;
  height:17vh;
  padding: 0 20px 10px 0;
  margin-bottom:10px;
}

#main .container .aboutme h1,
#main .skills .skill-container h1,
#main .container .education h1,
#main .container .certificates h1,
#main .container .projects h1,
#main .container .acheivements h1{
  font-weight:300;
  color:#1a1a1a;
  font-size:27px;
  padding-bottom:5px;
}

#main .container .aboutme p{
  font-weight:300;
  text-align:left;
  line-height:22px;
}

#main .container .skills{
  width:45vw;
  height:45vh;
  margin-bottom:10px;
}

#main .container .skills .skill-container{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap:wrap;
}

#main .container .skills .small-container{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  gap:5px;
  padding-bottom:4px;
  flex-wrap:wrap;
}

#main .container .skills .skill-container .small-container img{
  width:20px;
  height:20px;
  background-color:white;
}

#main .container .education-container{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction:column;
  gap:3px;
  padding-bottom:4px;
  flex-wrap:wrap;
  width:45vw;
  height:12.5vh;
}

#main .container .education-container p{
  font-weight:400;
  text-align:left;
}

#main .container .certificates{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-direction:column;
  flex-wrap:wrap;
  gap:3px;
  padding-bottom:4px;
  width:45vw;
  height:40vh;
}

#main .container .certificates .certificate1,
#main .container .projects .project1{
  margin-bottom:10px;
}

#main .container .certificates .certificate1 h2,
#main .container .projects .project1 h2{
  font-weight:300;
  color:#1a1a1a;
  font-size:24px;
  padding-bottom:5px;
}

#main .container .certificates .certificate1 p,
#main .container .projects .project1 p{
  font-weight:500;
  text-align:left;
}

#main .container .projects{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap:wrap;
  gap:3px;
  padding-bottom:5px;
  width:49vw;
  height:48vh;
}

#main .container .acheivements{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  flex-wrap:wrap;
  gap:3px;
  padding-bottom:5px;
  width:46vw;
  height:18vh;
}

#main .container .acheivements .acheivements1{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
}











